<div class="middle-header">
  <span class="fontRegular">{{actionName}} Policy</span>
    <span class="dashBDcrumbs"><a routerLink="/IAM">Home</a> / <a routerLink="../ManagePolicy">Manage Policy</a> 
      / <span class="bdActive">{{actionName}} Policy</span>
  </span>
</div>
<div class="right_panel_content attachmentActionCompSec" >
  <div class="row">  
    <div class="tableWrapper stepWrapper">
      <div class="breadcrumbSec">
        <div class="stepAll stepMostLeft">
          <div class="starIconDiv breadcrumbActive"></div>
          <div class="clear"></div>
        <span class="breadcrumbText">Policy Name</span>
        </div>
        <div class="stepAll stepCenter">
          <div class="starIconDiv breadcrumbActive"></div>
          <div class="clear"></div>
          <div class="breadcrumbText"> Attach Components and Actions</div>
        </div>
        <div class="stepAll stepRight">
          <div class="starIconDiv"></div>
          <div class="clear"></div>
          <div class="breadcrumbText">Preview Policy </div>
        </div>
      </div>
    </div>
    <div [hidden]= "isValidated" class="redMsgCenter">Please select Component, Component Name, and Actions</div>
    <mat-accordion class="iamMatAccordion">
      <mat-expansion-panel #selectComponent>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon *ngIf="!selectComponent.expanded" class="matAccordionPlusMinus">add_circle</mat-icon>
              <mat-icon *ngIf="selectComponent.expanded" class="matAccordionPlusMinus">remove_circle</mat-icon>
              Select Component
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <hr class="commonHr"/> -->

        <mat-radio-group [(ngModel)]="selectedComponent">
          <mat-radio-button *ngFor="let component of components" [value]="component" (change)="radioChange($event)">
            {{component}}
          </mat-radio-button>
        </mat-radio-group>
        
          <!-- <hr class="commonHr bottomHr"/> -->
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="checkPanel" #selectComponentName>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon *ngIf="!selectComponentName.expanded" class="matAccordionPlusMinus">add_circle</mat-icon>
              <mat-icon *ngIf="selectComponentName.expanded" class="matAccordionPlusMinus">remove_circle</mat-icon>
            Select Component Name
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-checkbox  *ngFor="let project of projects" [checked]="nameChecked(project.name)" (change)="onNameChange($event, project.name)" >{{project.name}} </mat-checkbox>
        <div [hidden]= "isCselected" class="redMsgCenter accordionMsgTopBottomGap">Please Select Component</div>
        <!-- <hr class="commonHr bottomHr"/> -->

      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="checkPanel" #selectAction>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon *ngIf="!selectAction.expanded" class="matAccordionPlusMinus">add_circle</mat-icon>
              <mat-icon *ngIf="selectAction.expanded" class="matAccordionPlusMinus">remove_circle</mat-icon>
            Select Action
          </mat-panel-title>
        </mat-expansion-panel-header>
       
        <mat-checkbox  *ngFor="let action of cactions" [checked]="actionChecked(action)" (change)="onActionChange($event, action)" >{{action}} </mat-checkbox>
        <div [hidden]= "isCselected" class="redMsgCenter accordionMsgTopBottomGap">Please Select Component</div>
          <!-- <hr class="commonHr bottomHr"/> -->
      </mat-expansion-panel>
    </mat-accordion>
    <div class="matListMain iAMAddFormBtnDv">
        <button mat-flat-button class="cancelUpdateButton inactiveBtn" (click)="backClicked()">Back</button>
        <button mat-flat-button class="cancelUpdateButton inactiveBtn" routerLink="../ManagePolicy">Cancel</button>
        <button (click)="checkComponents()" mat-flat-button class="cancelUpdateButton activeBtn">{{button}}</button>
    </div>
  </div>
</div>
    
