<div  class="clearFixed"></div>
  <div class="chooseYourPlanSec">
      <div class="clearFixed"></div>
      <div class="formSection">
        <div class="contentWrapper">
            <div class="formHeading">Choose Your Plan</div>
         <form class="formWrapper">
            <a routerLink="/home"><img src="assets/Images/innerLogo.png" alt="" class="innerLogoDiv wow Ownpulse" data-wow-delay = "1.2s"
            data-wow-duration = "1.3s" style="visibility: visible; animation-duration: 2s; 
            animation-name: Ownpulse;" /></a>
            <div class="clearFixed"></div>
            <div class="breadcrumbSec">
                <div class="breadcrumbActive"> </div>
                <div class="breadIconLine"></div>
                
                <div class="starIconDiv"> </div>
              </div>
              <div class="clearFixed">&nbsp;</div>
          <div class="inputHalfLeft chooseMain">
           <div class="choosePlanSubHeading">Advance</div>
           <div class="choosePlanDetails advance">
            <ul>
              <li>Feature 1</li>  
              <li>Feature 2</li>
              <li>Feature 3</li>
            </ul>
            <a mat-flat-button routerLink="javascript:void(0)" class="choosePlanMatButton"> Book Now</a>
          </div>
        </div>
        <div class="inputHalfRight chooseMain">
          <div class="choosePlanSubHeading">Premium</div>
          <div class="choosePlanDetails">
            <ul>
              <li>Feature 1</li>
              <li>Feature 2</li>
              <li>Feature 3</li>
            </ul>
            <a mat-flat-button routerLink="javascript:void(0)" class="choosePlanMatButton"> Book Now</a>
          </div>
        </div>
        <div class="clearFixed">&nbsp;</div>
        <a mat-flat-button routerLink="javascript:void(0)" class="choosePlanMatButton choosePlanMatBigButton"> Start free trial </a>
      </form>
    </div>
  </div>
</div>
<div class="clearFixed"></div>
<app-innerfooter></app-innerfooter>