
    <div class="middle-header">
      <span class="fontRegular">Add Policy</span>
        <span class="dashBDcrumbs"><a routerLink="/IAM">Home</a> / <a routerLink="../ManagePolicy">Manage Policy</a> / <span class="bdActive">Add Policy</span>
      </span>
    </div>
    <div class="right_panel_content">
        <h1 class="headerTwo formHeader formHeaderLeft previewHeading">Preview Policy</h1>
        <div class="tableWrapper stepWrapper previewBreadcrumb">
          <div class="breadcrumbSec">
            <div class="stepAll stepMostLeft">
              <div class="starIconDiv breadcrumbActive"></div>
              <div class="clear"></div>
            <span class="breadcrumbText">Policy Name</span>
            </div>
            <div class="stepAll stepCenter">
              <div class="starIconDiv breadcrumbActive"></div>
              <div class="clear"></div>
              <div class="breadcrumbText"> Attach Components and Actions</div>
            </div>
            <div class="stepAll stepRight">
              <div class="starIconDiv breadcrumbActive"></div>
              <div class="clear"></div>
              <div class="breadcrumbText">Preview Policy </div>
            </div>
          </div>
        </div> 

        

        <div class="tableWrapper policyTableWrapper previewWrapper">
          <div class="row"> 
          <div class="previewDv">
            <div class="userNameEmailWrapper uerDltsNotEdit">
              <div class="previewuserName">
                  <div class="previewLeft">Policy Name</div>
                  <div class="previewRight">{{policy.policyname}}</div>
              </div>
             
              <div class="clear"></div>
              <div class="previewuserEmail">
                  <div class="previewLeft">Policy Description</div>
                  <div class="previewRight">{{policy.desc}}</div>
              </div>
              <div class="clear"></div>
            </div>

            
                  
                  <div class="policyDltsAndPreviewTab previewTBCommon">
                      <tabset>
                        <tab>
                          <span *tabHeading class="tabClass" (click)="permissionType('group')">
                              Attached Permissions
                          </span>
                  <div class="previewPolicySec">
                    <div class="previewTbscroll">
                      <div class="tableWrapperMain">
                      <mat-table [dataSource]="datasource" class="mat-elevation-z8 previewTable">
                          <!-- Name Column -->
                          <ng-container matColumnDef="component">
                            <mat-header-cell *matHeaderCellDef> Component </mat-header-cell>
                            <mat-cell *matCellDef="let policy"> {{policy.ctype}} </mat-cell>
                          </ng-container>
                        
                          <!-- Weight Column -->
                          <ng-container matColumnDef="componentName">
                            <mat-header-cell *matHeaderCellDef> Component&nbsp;Name </mat-header-cell>
                            <mat-cell *matCellDef="let policy"> {{policy.cnames}} </mat-cell>
                          </ng-container>
                        
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                            <mat-cell *matCellDef="let policy"> {{policy.actions}} </mat-cell>
                          </ng-container>
                        
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table> 
                        </div>
                        </div>                     
                      </div>
                      </tab>
                      </tabset>
                  </div>
              
              <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="matListMain iAMAddFormBtnDv previewBtnDv"> 
              <button mat-flat-button class="cancelUpdateButton inactiveBtn" (click)="backClicked()">Back</button>
              <button mat-flat-button class="cancelUpdateButton inactiveBtn" routerLink="../ManagePolicy">Cancel</button>
              <button mat-flat-button class="cancelUpdateButton activeBtn" (click)="createPolicy()">Create Policy</button>
          </div>
          <div class="clear"></div>
     
      </div>
    </div>
   