<div class="middle-header">
  <span class="fontRegular">User Detail</span>
  <span class="dashBDcrumbs">
    <a routerLink="/IAM">Home</a> /
    <a routerLink="/IAM/ManageUser">Manage User</a> /
    <span class="bdActive">User Detail</span>
  </span>
</div>

<div class="right_panel_content">   

  <div class="tableWrapper plolicyTableWrapper previewWrapper">
    
      <div class="previewDv">
        <div class="userNameEmailWrapper uerDltsNotEdit">
          <div class="previewuserName">
            <div class="previewLeft">Name</div>
            <div class="previewRight">{{user.firstName}} {{user.lastName}}</div>
          </div>
          
          <div class="previewuserEmail">
            <div class="previewLeft">Email</div>
            <div class=" previewRight">{{user.userEmail}}</div>
          </div>
       
          <div class="clear"></div>
          </div>
        <div class="previewUserAndDltsTab">
          <tabset>
              
            <tab>
              <span *tabHeading class="tabClass" (click)="permissionType('Group')" >
                Attached Groups
              </span>


              <div class="userdltsSec">
                <div class="previewTbscroll">
                   
                    <div class="tableWrapperMain">
                       
                  <mat-table [dataSource]="dataSource" class="previewTable">
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let permission"> {{permission.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
                      <mat-cell *matCellDef="let permission">{{ permission.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef>  <button class="previewAddBtn" mat-raised-button (click)="modifyUserPermission('Group')">Add</button> </mat-header-cell>
                      <mat-cell *matCellDef="let permission"><mat-icon (click)="removeUserPrivilegesPopUp('Group',permission.id)">delete_outline</mat-icon></mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <span *tabHeading class="tabClass" (click)="permissionType('Role')">
                Attached Roles
              </span>
              <div class="userdltsSec">
                <div class="previewTbscroll">
                  <div class="tableWrapperMain">
                  <mat-table [dataSource]="dataSource" class="previewTable">
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let permission"> {{permission.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let permission">{{ permission.description}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef> <button class="previewAddBtn" mat-raised-button (click)="modifyUserPermission('Role')">Add</button> </mat-header-cell>
                      <mat-cell *matCellDef="let permission"><mat-icon (click)="removeUserPrivilegesPopUp('Role',permission.id)">delete_outline</mat-icon></mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <span *tabHeading class="tabClass" (click)="permissionType('Policy')">
                Attached Policies
              </span>
              <div class="userdltsSec">
                <div class="previewTbscroll">
                    
                  <div class="tableWrapperMain">
                  <mat-table [dataSource]="dataSource" class="previewTable">
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let permission"> {{permission.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let permission">{{ permission.description}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef> <button class="previewAddBtn" mat-raised-button (click)="modifyUserPermission('Policy')">Add</button> </mat-header-cell>>
                      <mat-cell *matCellDef="let permission"><mat-icon (click)="removeUserPrivilegesPopUp('Policy',permission.id)">delete_outline</mat-icon></mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="clear"></div>
        
      </div>
      <div class="clear"></div>
 
    <div class="matListMain iAMAddFormBtnDv previewBtnDv">
        <button mat-flat-button class="cancelUpdateButton inactiveBtn" (click)="backClicked()">Back</button>
      </div>
  </div>
  
</div>

<div class="welcomePopSection">
  <div [hidden]= "isPopupHidden" id="popup1" class="overlay deleteOverlay">
    <div class="popup wow Ownpulse deletePopup" data-wow-delay="2s" data-wow-duration="2s" style="animation-duration: 2s; animation-name: Ownpulse;">
      <a id="closebtn" class="material-icons msgClose" (click)="closePopUp()">close</a>
      <div class="content">        
        <p class="popupSuccessMsg">Are you sure you want to delete this {{tabType}}?</p>
        
        <i class="material-icons deleteCrossIco">priority_high</i>
        <div class="matListMain popUpBtnDv"> 
          <button mat-flat-button class="cancelUpdateButton inactiveBtn" (click)="closePopUp()">Cancel</button>
          <button mat-flat-button class="cancelUpdateButton activeBtn" (click)="removeUserPrivileges()">Yes</button>
      </div>
      </div>
    </div>
  </div>
</div>