.loader-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: #fff !important;
  }
  .loader-box .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #75b048;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }