.timesheetWrapper .mat-cell:nth-child(5), .mat-footer-cell:nth-child(5), .timesheetWrapper .mat-header-cell:nth-child(5){
    padding: 0 15px 0 0px !important;
    flex: 0 0 11%;
    display: flex;
    justify-content: center;
}
.timesheetWrapper .mat-cell:nth-child(4) {
    padding: 0 20px 0 0px !important;
    display: flex;
    justify-content: left;
}
.timesheetWrapper .mat-cell:nth-child(4), .mat-footer-cell:nth-child(4), .timesheetWrapper .mat-header-cell:nth-child(4) {
    padding: 0 10px 0 0px !important;
    flex: 0 0 9%;
}