<div class="middle-header">
  <span class="fontRegular">My Time Sheet</span>
  <span class="dashBDcrumbs">
    <a routerLink="/">Home</a> /
    <span class="bdActive">My Time Sheet</span>
  </span>
</div>

<div class="right_panel_content timesheetMain reviewTimesheet">
  <div class="timesheetWrapper myTimesheetWrapper tableWrapper">
        
    <div class="clear"></div>
    <div class="headingAndBtnWrapper">
      
      <h2 class="headerTwo">My Time Sheet</h2>
    </div>
    <div class="clear"></div>
    <div class="table-wrapper iamcommonTableclass">
      <div class="tableWrapperMain">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 timeSheetTable">

          <ng-container matColumnDef="timesheet">
            <mat-header-cell *matHeaderCellDef>Time Sheet</mat-header-cell>
            <mat-cell *matCellDef="let timesheet">
              <a (click)="openPDF(timesheet.name)"> {{timesheet.name.substring(0,timesheet.name.length-9)}} </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="submittedDate">
            <mat-header-cell *matHeaderCellDef>Submitted Date</mat-header-cell>
            <mat-cell *matCellDef="let timesheet"> {{displayDate(timesheet.submittedOn)}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="billing">
            <mat-header-cell *matHeaderCellDef>Billing Period</mat-header-cell>
            <mat-cell *matCellDef="let timesheet"> {{timesheet.billingTime}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let timesheet" [ngClass]="{'rejectedClass' : timesheet.status=='rejected', 'submittedClass' : timesheet.status=='submitted', 'approvedClass' : timesheet.status=='approved'}"> {{timesheet.status}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="resubmit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let timesheet"> <button class="resubmitBtn" *ngIf="timesheet.status=='rejected'" mat-button (click)="editTimelog(timesheet)"> <i class="material-icons">send</i>Resubmit </button></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let timesheet; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- <app-pdf-view [showMePartially]="CommonUtilService.showVar"></app-pdf-view> -->
</div>
<!-- 
<div class="welcomePopSection">
  <div [hidden]="isPopupHidden" id="popup1" class="overlay deleteOverlay">
    <div class="popup wow Ownpulse deletePopup" data-wow-delay="2s" data-wow-duration="2s" style="animation-duration: 2s; animation-name: Ownpulse;">
      <a id="closebtn" class="material-icons msgClose" (click)="cancelList()">close</a>
      <div class="content">
         
      </div>

  </div>
</div> -->