<div class="menuSection">
            <div class="contentWrapper">
                <div class="logoMain">
                    <img src="assets/Images/logo2.png" alt="" class="logoWrapper"/>
                </div>
                <div class="menuWrapper">
                    <div class="menu">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                             
                            </div>
                            <div class="collapse navbar-collapse dashbordRightMenu homeMenu" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                
                                <li><a routerLink="/">Product </a></li>
                                <li><a routerLink="/">Why Project Desk </a></li>
                                <li><a routerLink="/">Pricing</a></li>
                                <li><a routerLink="/">Support</a></li>
                                <li><a routerLink="/aboutus">About Us</a></li>
                                <li><a routerLink="/login">Login</a></li>
                                <li class='fixedsty tryPojectBtn'><a routerLink="/login">Your Project Desk</a></li>
                                
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </nav>
                    </div>
                </div>

            </div>
        </div>


<div class="slidePage-container" id="slidePage-container">
    <div class="item item1">
        
        <!-- Menu Section End -->
        <!-- <img src="assets/Images/banners12.jpg" alt=""/> -->
        <div class="bannerSection">
            <div class="contentWrapper">
                <div class="bannnerText fontLight">
                    <p class="step slideUp" data-delay="100">This Is all </p>
                    <p class="step slideUp" data-delay="1000">about easy  </p>
                    <p class="step slideUp" data-delay="1500">management. </p>
                    <p class="joinYourText step slideUp" data-delay="2000">Join your passions together</p>
                    <div class="step slideLeft" data-delay="2500">
                        <button class="tryPojectBtn fontLight" routerLink="/userRegisteration1">Try Project Desk for free </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banners Section End -->
    </div>
    <div class="item item2 whiteSection projectSection">
        <div class="contentWrapper">
            <div class="compWrapper">
                <div class="step slideUp" data-delay="500">
                    <div class="compText wow slideInDown">
                        Comprehensive tool for project managers to track
                    </div>
                </div>
                <div class="step step2 slideLeft" data-delay="1000">
                    <div class="compImg"> 
                        <span class="settinglargeicon"></span> 
                        <span class="settingSmallIcon"></span> 
                        <img src="assets/Images/projectImage.png" alt=""/>  
                    </div>
                </div>
                <div class="detailsWrapper">
                <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                    <span class="commonMainIcon projectIcon"></span>
                </div>
                <div class="step step1 slideRight textSection" data-delay="1500">
                    <div class="commonHeading">Project </div>
                    <p class="dltsText">
                        Create your project with as little
                        (or as much) information as you
                        have available and manage it
                        immediately.
                    </p>
                </div>
                </div>
            </div>
        </div>			
    </div>
    <!-- Project Section End -->
    <div class="item item5 timesheetSection greenSection">				
        <div class="contentWrapper">
            <div class="compWrapper">
                
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                            <span class="commonMainIcon timesheetIcon"></span>
                        </div>
                <div class="step step1 slideUp textSection detailsDiv" data-delay="500">
                    <div class="commonHeading">
                        Timesheet
                    </div>
                    <p class="dltsText">
                        Manage your time reconciliation
                        effectively while maximizing on a
                        single output
                    </p>
                </div>
               
                
                <div class="step step2 slideDown" data-delay="1500">
                    <div class="compImg">                                    
                           <div class="timesheetHand"> </div>
                           <div class="buttons">
                              <button class="annimatedBtn draw"></button>
                            </div>
                            <img src="assets/Images/timesheet-Image.jpg" alt=""/>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Timesheet Section End -->
    <div class="item item8 trackScoreSection whiteSection">
        <div class="contentWrapper">
            <div class="compWrapper">
                <div class="step step1 slideLeft textSection detailsDiv" data-delay="500">
                    <div class="compImg">
                        <span class="clockPointers">
                            <span class="mArrowicon"></span>
                        <span class="hArrowicon"></span>
                        </span>
                        <span class="trackScoreCloud"></span>
                        <img src="assets/Images/Track-Images.png" alt="" />
                    </div>
                </div>
                <div class="detailsWrapper">
                <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                    <span class="commonMainIcon trackScoreIcon"></span>
                </div>
                <div class="step step2 slideRight textSection detailsDiv" data-delay="1500">
                    <div class="commonHeading">Track Score </div>
                    <p class="dltsText">
                        Plan your resources carefully and
                        collaboratively with your team,
                        assess your cost, labour, scope,
                        resources, quality and communication.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Track Score Section End -->

        <div class="item item7 blueSection reportSection">
            <div class="contentWrapper">
                <div class="compWrapper">
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                        <span class="commonMainIcon reportIcon"></span>
                    </div>
                    <div class="step step1 slideUp textSection detailsDiv" data-delay="500">
                        <div class="compImg">
                            <span class="reportServicesImg"></span>
                            <span class="reportBook"></span>
                            <img src="assets/Images/map.png" alt=""/>
                        </div>
                    </div>
                    <div class="step step2 slideDown textSection detailsDiv" data-delay="1500">
                        <div class="commonHeading">Report </div>
                        <p class="dltsText">
                            Generate your Invoices, Project Status
                            Reports,Cost Progress Reports and
                            other standard reports automatically.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Report Section end  -->
<div class="item item10 whiteSection templatesSection">
            <div class="contentWrapper">
                <div class="compWrapper">
                    <div class="step step1 slideLeft textSection detailsDiv" data-delay="500">
                        <div class="compImg">
                            <div class="graph"></div>
                            <div class="tempCircleIcon tempCircleIconOne"></div>
                            <div class="tempCircleIcon tempCircleIconTwo"></div>
                            <div class="tempCircleIcon tempCircleIconThree"></div>
                            <div class="tempGraphMain">
                                <div class="tempGraph tempGraphOne"></div>
                                <div class="tempGraph tempGraphTwo"></div>
                                <div class="tempGraph tempGraphThree"></div>
                                <div class="tempGraph tempGraphFour"></div>
                                <div class="tempGraph tempGraphFive"></div>
                                <div class="tempGraph tempGraphSix"></div>
                            </div>
                            <img src="assets/Images/temp-Image.png" alt=""/> 
                        </div>
                    </div>							
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                        <span class="commonMainIcon templatesIcon"></span>
                    </div>
                    <div class="step step2 slideRight textSection detailsDiv" data-delay="1500">
                        <div class="commonHeading">Templates </div>
                        <p class="dltsText">
                            Need a template and don’t have one,
                            wait no more. Functional and customizable
                            templates are at your disposal any time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Section End -->
        <div class="item deliverSection">
            <div class="contentWrapper">
                <div class="compWrapper">
                    <div class="detailsWrapper">
                    <div class="step slideUp textSection detailsDiv" data-delay="500">
    
                        <div class="commonHeading">
                            Deliverables 
                        </div>
                        <p class="dltsText">
                            Manage your scope with clearly deﬁned
                            deliverables inclusive of narrative, targets
                            and objectives, labour costs.
                        </p>
                    </div>
                    </div>
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                        <span class="commonMainIcon deliverIcon"></span>
                    </div>
                    <div class="step step2 slideDown" data-delay="1500">
                        <div class="compImg">
                            <span class="pageRight"></span> <span class="pageLeft"></span> <img src="assets/Images/deliver.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Deliverables Section End -->
                </div>
            </div>
        </div>
    <div class="item comprehensiveSection">
        <div class="contentWrapper">
            <div class="compWrapper">
                <div class="step step1 slideLeft" data-delay="500">
                    <!-- <div class="compBgImages">  </div> -->
                    <div class="compImg">
                        <span class="compSmokeImg"></span>
                        <span class="compWatchImg"></span>
                        <img src="assets/Images/compImg.jpg" alt="" />

                    </div>
                </div>
                <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                    <span class="commonMainIcon taskIcon"></span>
                </div>
                <div class="step step2 slideRight textSection" data-delay="1500">
                    <div class="commonHeading">Task </div>
                    <p class="dltsText">
                        Easily create tasks for yourself,
                        your team or an external resource
                        and track them to completion.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Task Section End -->

    <div class="item item9 artifactsSection greenSection">
            <div class="contentWrapper">
                <div class="compWrapper">
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                        <span class="commonMainIcon artifactsIcon"></span>
                    </div>
                    <div class="step step2 slideDown textSection detailsDiv" data-delay="1500">
                        <div class="commonHeading">Artifacts </div>
                        <p class="dltsText">
                            Centralize locations of your project
                            artifacts making it easy for the team
                            to preview the documents or share
                            edits on the original artifacts.
                        </p>
                    </div>
                    <div class="step step1 slideUp textSection detailsDiv" data-delay="500">
                        <div class="compImg">
                            <div class="artifactscircle"></div>
                            <div class="artifactscircleTwo"></div>
                            <span class="artifactsImages"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Artifacts Section End -->

    

    <div class="item item6 whiteSection communicationSec">
        <div class="contentWrapper">
            <div class="compWrapper">
                <div class="step step1 slideLeft detailsDiv" data-delay="500">
                    <div class="compImg">
                        <span class="computerCommon computerOne"></span>
                        <span class="computerCommon computerTwo"></span>
                        <span class=" computerCommon computerThree"></span>
                        <span class="computerCommon computerFour"></span>
                        <span class="computerCommon computerFive"></span>
                        <div class="oval ovalOne"></div>
                        <div class="oval ovalTwo"></div>
                        <div class="oval ovalThree"></div>
                        <div class="oval ovalFour"></div>
                        <div class="oval ovalFive"></div>
                        <div class="oval ovalSix"></div>
                        <div class="communicationMan"></div>
                        <img src="assets/Images/communication-Image1.png" alt=""/>
                    </div>
                    </div>
                    <div class="step step3 zoomIn cirIcon Ownpulse" data-delay="2500">
                        <span class="commonMainIcon communicationIcon"></span>
                    </div>
                    <div class="step step2 slideRight textSection detailsDiv" data-delay="1500">
                        <div class="commonHeading">Communication </div>
                        <p class="dltsText">
                            Tell your team the critical information they need to avoid
                            late change orders, cost over runs and scope creeps.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- communication Section end  -->
        
        <div class="item item11">
            <!-- Footer Section start  -->
            <div class="footerSection">
                <div class="contentWrapper">
                    <div class="commonWidth">
                        <div class="footerHeading">Product</div>
                        <ul>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                        </ul>
                    </div>
                    <div class="commonWidth">
                        <div class="footerHeading">Why Project Desk</div>
                        <ul>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                        </ul>
                    </div>
                    <div class="commonWidth">
                        <div class="footerHeading">Pricing</div>
                        <ul>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                        </ul>
                    </div>
                    <div class="commonWidth">
                        <div class="footerHeading">Support</div>
                        <ul>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                        </ul>
                    </div>
                    <div class="commonWidth">
                        <div class="footerHeading">About Us</div>
                        <ul>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                            <li><a routerLink="/">Lorem ipsum</a></li>
                        </ul>
                    </div>


                    <div class="socialIconSec">
                        <div class="leftText">Lorem ipsum</div>
                        <div class="socialIcon">
                            <a routerLink="/"><span class="commonSocialIcon footerfbIcon"></span></a>
                            <a routerLink="/"><span class="commonSocialIcon footerTIcon"></span></a>
                            <a routerLink="/"><span class="commonSocialIcon footerLIcon"></span></a>
                            <a routerLink="/"><span class="commonSocialIcon footerYIcon"></span></a>
                            <a routerLink="/"><span class="commonSocialIcon footerIIcon"></span></a>
                        </div>
                        <div class="clearFix"></div>
                        <div class="copyRightsec">
                            <div class="floatLeft">&copy; &nbsp; Project Desk. All rights reserved. </div>
                            <div class="floatRight privacyLink">
                                <span><a routerLink="/">Security</a></span>
                                <span><a routerLink="/">Legal</a></span>
                                <span><a routerLink="/">Privacy</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav class="pagination" id="pagination">
            <div class="prev-page" onclick="slidePage.prev()"><i class="fa fa-angle-up"></i></div>
            <a onclick="slidePage.index(1)"></a>
            <a onclick="slidePage.index(2)"></a>
            <a onclick="slidePage.index(3)"></a>
            <a onclick="slidePage.index(4)"></a>
            <a onclick="slidePage.index(5)"></a>
            <a onclick="slidePage.index(6)"></a>
            <a onclick="slidePage.index(7)"></a>
            <a onclick="slidePage.index(8)"></a>
            <a onclick="slidePage.index(9)"></a>
            <a onclick="slidePage.index(10)"></a>
            <a onclick="slidePage.index(11)"></a>
            <div class="next-page" onclick="slidePage.next()"><i class="fa fa-angle-down"></i></div>
        </nav> 
    </div>