<div class="clearFixed"></div>
<div class="registrationOneSection forgotPassword" *ngIf="linkExp">This link has expired !! Please try again.</div>
<div class="registrationOneSection forgotPassword" *ngIf="linkValid">
  <div class="formSection">
    <div class="contentWrapper">
      <div class="formHeading">Confirm Password</div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="formWrapper regWrpp">
        <a routerLink="/home">
          <img src="assets/Images/innerLogo.png" alt="" class="innerLogoDiv wow Ownpulse" data-wow-delay="1.2s" data-wow-duration="1.3s"
            style="visibility: visible; animation-duration: 2s; animation-name: Ownpulse;" />
        </a>
        <div class="clearFixed"></div>
        <div class="successMsgCentre">{{resetResp}}</div>
        <div class="clearFixed"></div> 
        <mat-form-field class="example-full-width">
          <input matInput formControlName="confirmPass1" type="password" class="textAreaCommon" placeholder="Password" />
          <div *ngIf="(submitted && userForm.controls['confirmPass1'].errors) || userForm.controls['confirmPass1'].touched || userForm.controls['confirmPass1'].dirty"
          class="errorMsg">
            <div *ngIf="userForm.controls['confirmPass1'].errors != null && userForm.controls['confirmPass1'].errors.required == true">
                Password is required.
            </div>
            <div *ngIf="userForm.controls['confirmPass1'].errors != null && userForm.controls['confirmPass1'].errors.pattern">
              Password must contain atleast one special character, one number and one upper case letter and between 8 and 32 characters
              in length.
            </div>			
          </div>
        </mat-form-field>
        <div class="clearfixed"></div>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="confirmpass2" type="password" class="textAreaCommon" placeholder="Confirm Password" />
          <div *ngIf="(submitted && userForm.controls['confirmpass2'].errors) || userForm.controls['confirmpass2'].touched || userForm.controls['confirmpass2'].dirty" class="errorMsg">          <div *ngIf="userForm.controls['confirmpass2'].errors != null && userForm.controls     ['confirmpass2'].errors.required == true">
            Password is required.
             </div>
          </div>
        </mat-form-field>
        <div class="clearFixed"></div>
        <div class="inputmain">
          <button mat-flat-button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="clearFixed"></div>
<app-innerfooter></app-innerfooter>